<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class=>Shiva Marine Salvors and Engineers formerly known as Shiva Underwater Services, was started in 1999 by Mr. Rajveer Singh Shekhawat after his retirement from Indian Navy, to provide professional diving services at highest quality. Since then, Shiva Marine Salvors and Engineers is growing as one of top commercial diving service providers in Marine industry and meets the underwater intervention needs in India. We have earned the excellent reputation we enjoy with our customers by our personal approach and quality workmanship.</p> 
                <p>Shiva Marine Salvors and Engineers has an illustrious track record spanning over more than a decade of successfully undertaking air diving, mixed-gas bounce diving and salvage operation in support of complex projects. We specialize in salvage operations throughout India and have a success rate of 99% in salvage operations.</p>
                <a href="#services" class="btn btn-default btn-xl wow tada page-scroll">Services</a>
            </div>
        </div>
    </div>
</section>
