<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>
                    Ready to start your next project with us?<br>
                    That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                    <h2 class="section-heading">Rajveer Singh Shekhawat</h2>
                </p>
           </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-lg-offset-3">
                <h4>Registered Office</h4>
                Shop No.4, Ruby Mansion,<br>
                Behind Metro Cinema,<br>
                Barrak Road,<br>
                Mumbai - 400 020,<br>
                Maharashtra,<br>
                India.
            </div>
            <div class="col-lg-3">
                <h4>Corrospondence Office</h4>
                A-241, Kalpataru Towers,<br>
                Opp. Esis Hospital, Akurli Road,<br>
                Kandivali East,<br>
                Mumbai - 400 101,<br>
                Maharashtra,<br>
                India.
            </div>
        </div>  
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Telephone</h4>
                <a href="tel:+912228872441">+91 22 28872441</a><br>
                <a href="tel:+919820533292">+91 9820533292</a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Email</h4>
                <!--<a href="mailto:info@shivamarinesalvorsandengineers.com">info@shivamarinesalvorsandengineers.com</a><br>-->
                <a href="mailto:rajveerss62@hotmail.com">rajveerss62@hotmail.com</a>
            </div>
        </div> 
    </div>
    <!--<div class="col-lg-8 col-lg-offset-2 text-left">
        <h4>Registered Office:</h4>
        Shop No.4, Ruby Mansion,
        Behind Metro Cinema,
        Barrak Road,
        Mumbai - 400 020.
        <h4>Corrospondence Office:</h4>
        A-241, Kalpataru Towers,
        Opp. Esis Hospital, Akurli Road,
        Kandivali East,
        Mumbai - 400 101.
        <h4>Telephone:</h4>
        <a href="tel:+912228872441">+91 22 28872441</a><br>
        <a href="tel:+919820533292">+91 9820533292</a>
        <h4>Email:</h4>
        <a href="mailto:info@shivamarinesalvorsandengineers.com">info@shivamarinesalvorsandengineers.com</a><br>
        <a href="mailto:rajveerss62@hotmail.com">rajveerss62@hotmail.com</a>
    </div>-->
</section>
