<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
   
    <div class="container">
        <div class="row">
             <h2><p>Shiva Marine Salvors and Engineers has exceptionally maintained equipment and expertly-trained and experienced personnel to handle any underwater task. We provide custom shallow air, deep air and mixed gas dive packages that can handle “Anything, Anytime, Anywhere.”</p>
             <p> We have a proven ability and an excellent reputation in problem-solving in our diving services. Our aim is to complete the underwater task-at-hand better, faster and safer than our competitors.</p>
             </h2>
         </div>
    </div>
    
    <div class="container">
        <div class="row">
             <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
             <h3>Our services include:</h3>
            <p class="text-muted">Ship’s Salvage</p>
            <p>Underwater hull cleaning</p>
            <p>Underwater welding and cutting</p>
            <p>Underwater survey and inspection</p>
            <p>Dredging Dams harbor and river beds</p>
            <p>Underwater video and still photography</p>
            <p>Maintenance of ship’s and harbor works</p>
            <p>Block placing construction of jetty, wharfs</p>
            <p>Underwater concreting and repairing old structures</p>
            <p>Demolition painting of masonry dams upstream face</p>
            <p>Laying of pipe line in the river and sea including repairs.</p>
            <p>Sinking of casing wells and foundation of jetties and bridges</p>
            <p>Underwater grouting with polymerizes cement and epoxy based materials</p>
        </div>
    </div>
</section>
